//fontSize
$fontSize8: 8px;
$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;

//color
$themeWhite: #fff;
$themeddd: #ddd;
$themeccc: #ccc;
$color1: #9ea7b3;
$color2: #4ac4bc;
$color3: #f0f0f0;
$color4: #9ca4af;


