.el-row {
    margin: 0 !important;
    .el-col {
        margin-bottom: 20px;
        >p,>span {
            margin: 20px 0;
            font-size: 16px;
            font-weight: 500;
        }
        >div {
            >div {
                > canvas {
                    background-color: #cccccc40;
                }
            }
        }
    }
    .el-table th {
        color: #fff;
        background-color: #43586F !important;
    }
    .el-table {
        .el-table__row {
            td {
                padding: 3px 0;
            }
        }
    }
}
.selectBox {
    padding-left: 0 !important;
    margin-top: 50px !important;
}
